{{template "base" .}}

{{define "content"}}

<div class="container">
<h1 class="mt-3">О нас</h1>
 <div class="row">
      <div class="col">
      <img src="/static/images/s1.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
      </div>
    </div>
    <div class="row">
        <div class="col">
            
            <hr>
            <p>
            <strong> TajParadise Отель</strong> — это отличный выбор для гостей Душанбе, семейная атмосфера и множество полезных услуг сделают пребывание здесь очень приятным.

Номера оборудованы кондиционером, холодильником и мини-баром, гости могут в любой момент быть онлайн благодаря бесплатному Wi-Fi. Здесь вы сможете хорошо отдохнуть и восстановить свои силы.

Рохат Отель предлагает обслуживание в номер и услуги консьержа. Кроме того, гости  Отеля могут воспользоваться бесплатным завтраком. Гостям, приехавшим на машине, предоставляется бесплатная парковка.

Тем, кто хочет посетить популярные достопримечательности во время пребывания в Душанбе, превосходно подойдет TajParadise Отель, расположенный недалеко от таких достопримечательностей, как Памятник Рабиндранату Тагору (0,7 км) и Дворец Наций Кохи Миллат (2,2 км).

Во время пребывания в Душанбе обязательно сходите в близлежащие итальянские рестораны, например Bella Pizza & Pasta, Кафе - бар Сегафредо или Шакар.

Если вы хотите лучше узнать Душанбе, посетите один из исторических музеев, например Национальный музей Таджикистана и Национальный музей древностей Таджикистана.

Желаем приятно провести время в Душанбе!
            </p>
            
            
        </div>
    </div>
</div>

{{end}}
