{{template "admin" .}}


{{define "page-title"}}
    Бронирования
{{end}}

{{define "content"}}
{{$res := index .Data "reservation"}}
{{$src := index .StringMap "src"}}
    <div class="col-md-12">
    <p>
        <strong>Въезд:</strong> {{humanDate $res.StartDate}}<br>
        <strong>Выезд:</strong> {{humanDate $res.EndDate}}<br>
        <strong>Комната:</strong> {{$res.Room.RoomName}}<br>
    </p>

        <form method="post" action="/admin/reservations/{{$src}}/{{$res.ID}}" class="" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">



        <div class="form-group mt-5">
            <label for="first_name">Имя:</label>
            {{with .Form.Errors.Get "first_name"}}
            <label class="text-danger">{{.}}</label>
            {{end}}
            <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
            required value="{{$res.FirstName}}" autocomplete="off">

          </div>
           <div class="form-group">
            <label for="last_name">Фамилия:</label>
            <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
              required value="{{$res.LastName}}"  autocomplete="off">

              

          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"  
            required value="{{$res.Email}}"  autocomplete="off">

          </div>
            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="email" name="phone" id="phone" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"  
                required value="{{$res.Phone}}"  autocomplete="off">
                </div>

                <hr>
                 <div class="float-left">
                <input type="submit" value="Сохранить" class="btn btn-primary">
                {{if eq $src "cal"}}
                <a href="#!" onclick="window.history.go(-1)" class="btn btn-warning">Отменить</a>
                {{else}}
            
                <a href="/admin/reservations-{{$src}}" class="btn btn-warning">Отменить</a>
                {{end}}
                <a href="#!" class="btn btn-info" onclick="processRes({{$res.ID}})">Обработать</a>
                </div>

                <div class="float-right mt-3">

                <a href="#!" class="btn btn-danger" onclick="deleteRes({{$res.ID}})">Удалить</a>
                </div>
                <div class="clearfix"></div>


        </form>
    </div>
{{end}}

{{define "js" }}
{{$src := index .StringMap "src"}}
    <script>
        function processRes(id) {
        attention.custom({
        icon: 'warning'
        msg: 'Вы уверены?'
        callback: function(result) {
        if (result !== false) {
        window.location.href = "/admin/process-reservation/{{$src}}/" + id;
        }
        }
        })
        }

        function deleteRes(id) {
        attention.custom({
        icon: 'warning'
        msg: 'Вы уверены?'
        callback: function(result) {
        if (result !== false) {
        window.location.href = "/admin/delete-reservation/{{$src}}/" + id;
        }
        }
        })
        }

         
    </script>
{{end}}


    
    