{{template "base" .}}

{{define "content"}}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Связаться с нами</h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.0478943929115!2d68.7746059280759!3d38.55571031445457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b5d1271844a7ed%3A0x835f39714e71852e!2sTajParadise!5e0!3m2!1sru!2sru!4v1674778413574!5m2!1sru!2sru" width="600"
           height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col text-center">
        <h1>TajParadise</h1><br>
         ул. Ханжина 1<br>
         г. Душанбе, Таджикистан<br>
          +992 907-77-77-77<br>
          Пронин Игорь<br>
          <a href="mailto:goldenoronin1999@gmail.com">goldenoronin1999@gmail.com</a>
      </div>
    </div>
</div>

{{end}}
