{{template "base" .}}

{{define "content"}}

<div id="main-carousel" class="carousel slide">

			<div class="carousel-indicators">
           <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
           <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
           <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
           </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/t4.jpg" class="d-block w-100" alt="Woman and laptop">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/tray.png" class="d-block w-100" alt="Tray with coffe">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/s1.jpg" class="d-block w-100" alt="Outside">
      <div class="carousel-caption d-none d-md-block">
        <h5>Наш отель</h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>  
</div>

	<div class="container">

		<div class="row">
			<div class="col">
				<h1 class="text-center mt-4">Добро Пожаловать в TajParadise</h1>
				<p>

Наш отель в Душанбе был задуман с желанием создать потрясающее место, превосходящее все ожидания взыскательных путешественников.
 Благодаря гладкому стеклянному фасаду с декоративными цветочными узорами сузани таджикские художественные традиции органично 
 сочетаются с современным стилем. Вход в отель напоминает прибытие в средневековый караван-сарай - остановку для путешественников 
 на древнем Шелковом пути. Интерьеры являются отражением таланта местных мастеров, материалов и техник, демонстрируя текстильные 
 узоры из Гянджа, Иката и Абра роскошную резьбу по дереву, настенные росписи с цветочным рисунком, глазурованную керамику 
 и местные произведения искусства. Снаружи отель окружен 0.3 гектарами пышных зеленых садов, что создает чувственную связь с 
 природной красотой Таджикистана.

Отель Dushanbe Serena предлагает неповторимые впечатления, пропитанные церемониальными и праздничными обычаями Центральной Азии, оставляя у вас неизгладимые воспоминания о вашем пребывании.
				</p>
			</div>
			
		</div>

		<div class="row">
			<div class="col text-center">

				<a href="/search-availability" class="btn btn-success">Забронировать сейчас</a>
				
			</div>
		</div>
		
	</div>

{{end}}