{{template "base" .}}

{{define "content"}}


  <div class="container">
    <div class="row">
      <div class="col">
      <img src="/static/images/budget.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">Бюджетный номер</h1>
        <p>
         Ощущение утонченной элегантности характеризует 
         наш Бюджетный номер площадью 20 квадратных метров, 
         который оборудован одной кроватью размера "king-size" 
         или двумя раздельными кроватями, деревянной мебелью на заказ и
          душевыми принадлежностями Penhaligon. 
          Это просторные и удобные номера с видом на Гиссарские горы и платаны, окаймляющие оживленный проспект Рудаки.



        </p>
      </div>
      
    </div>

    <div class="row">
      <div class="col text-center">

        				<a id="check-availability-button" href="#!" class="btn btn-success">Проверить Доступность</a>

      </div>
    </div>

{{end}}

{{define "js"}}


<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Въезд">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Выезд">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
        attention.custom({
            title: 'Выберите даты',
            msg: html,
            willOpen: () => {
                const elem = document.getElementById("reservation-dates-modal");
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    language: 'ru',
                    showOnFocus: true,
                    minDate: new Date(),
                })
            },
            didOpen: () => {
                document.getElementById("start").removeAttribute("disabled");
                document.getElementById("end").removeAttribute("disabled");
            },
            callback: function(result) {
                console.log("called");

                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
                formData.append("room_id", "2");

                fetch('/search-availability-json', {
                    method: "post",
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                      if (data.ok) {
                          attention.custom({
                              icon : 'success',
                              showConfirmButton: false,
                              msg: '<p>Номер доступен! </p>'
                              + '<p><a href="/book-room?id='
                                + data.room_id
                                + '&s='
                                + data.start_date
                                + '&e='
                                + data.end_date
                              +'"class="btn btn-primary">'
                                + 'Забронировать</a></p>',


                          })
                          } else {
                           attention.error({
                               title: "Нет свободных номеров",
                               msg: data.error,
                           })
                          }
                    })
            }
        });
    })
</script>
{{end}}