{{template "base" .}}

{{define "content"}}

<div class="container">
    

    <div class="row">
      <div class="col">
        
        <h1>Забронировать номер</h1>

        {{$res :=index .Data "reservation"}}

        
        <form method="post" action="/make-reservation" class="" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">



        <div class="form-group mt-5">
            <label for="first_name">Имя:</label>
            {{with .Form.Errors.Get "first_name"}}
            <label class="text-danger">{{.}}</label>
            {{end}}
            <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
            required value="{{$res.FirstName}}" autocomplete="off">

          </div>
           <div class="form-group">
            <label for="last_name">Фамилия:</label>
            <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
              required value="{{$res.LastName}}"  autocomplete="off">

              <div class="form-group">
                <label for="start_date">Въезд:</label>
                <input type="text" name="start_date" id="start_date" class="form-control">
                  </div>

                  <div class="form-group">
                <label for="end_date">Выезд:</label>
                <input type="text" name="end_date" id="end_date" class="form-control">
                </div>

                <input type="hidden" name="room_id" value="1">



          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"  
            required value="{{$res.Email}}"  autocomplete="off">

          </div>
            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="email" name="phone" id="phone" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"  
                required value="{{$res.Phone}}"  autocomplete="off">
                </div>

                <hr>

                <input type="submit" value="Забронировать" class="btn btn-primary">

        </form>
        
      </div>
      
    </div>

{{end}}
