{{template "base" .}}

{{define "content"}}

<div class="container">
    

    <div class="row">
      <div class="col">
        
        {{$res :=index .Data "reservation"}}

        <h1>Забронировать номер</h1>
        <p><strong>Данные о бронировании:</strong><br>
        Номер: {{$res.Room.RoomName}}<br>
        Въезд: {{index .StringMap "start_date"}}<br>
        Выезд: {{index .StringMap "end_date"}}<br>
        </p>


        
        <form method="post" action="/make-reservation" class="" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
        <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
        <input type="hidden" name="room_id" value="{{$res.RoomID}}">




        <div class="form-group mt-5">
            <label for="first_name">Имя:</label>
            {{with .Form.Errors.Get "first_name"}}
            <label class="text-danger">{{.}}</label>
            {{end}}
            <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
            required value="{{$res.FirstName}}" autocomplete="off">

          </div>
           <div class="form-group">
            <label for="last_name">Фамилия:</label>
            <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
              required value="{{$res.LastName}}"  autocomplete="off">

              

          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"  
            required value="{{$res.Email}}"  autocomplete="off">

          </div>
            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="email" name="phone" id="phone" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"  
                required value="{{$res.Phone}}"  autocomplete="off">
                </div>

                <hr>

                <input type="submit" value="Забронировать" class="btn btn-primary">

        </form>
        
      </div>
      
    </div>

{{end}}
